@import 'variables';
@import 'templates';

* {
    font-family: $primary-font;
    margin: 0px;
    padding: 0px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

button {
    @include text-template($primary-font-color, 15px);
    
    background: $button-bg-color;
    border: 0px;
    cursor: pointer;
}

button:hover {
    background: none;
    border-image: $button-bg-color 1;
    border-width: 2px;
    border-style: solid
}

body {
    background-color: $site-bg-color;
}

.navbar_wrapper {
    @include flex-template(row);

    position: sticky;
    top: 0;
    z-index: 2;
    background: $site-bg-color;
    justify-content: center;
    margin-top: 20px;
    column-gap: 420px;
    height: 70px;

    .logo-title {
        @include text-template($heading-font-color, 26px)
    }

    .navbar {
        @include flex-template(row);
        
        column-gap: 35px;
    
        a {
            @include text-template($primary-font-color, 14px);
        }
    
        a:hover {
            transition: 200ms ease;
            color: $link-hover-color;
        }
    
        button {
            width: 177px;
            height: 39px;
            min-width: 143px;
            min-height: 35px;
        }
    }
}

.header-content_wrapper {
    @include flex-template(row);

    padding: 0px 5px 0px 5px;
    justify-content: center;
    column-gap: 150px;
    margin-top: 40px;

    img {
        max-width: 450px;
        min-width: 280px;
        max-height: 440px;
        min-height: 380px;
    }

    .header-content-mobile_buttons {
        @include flex-template(column);

        display: none;
        column-gap: 40px;
        margin-top: 40px;
        
        button {
            width: 292px;
            height: 73px;
            font-size: 24px;
        }
    }

    .header-content {
        @include flex-template(column);

        max-width: 628px;
        min-width: 400px;
        height: auto;
        min-width: 400px;
       

        .header-content_text {

            h1 {
                color: $primary-font-color;
                font-size: 48px;
            }

            p {
                color: $primary-font-color;
                font-weight: 100;
                margin-top: 10px;
                font-size: 18px
            }
          
        }

        .header-content_buttons {
            @include flex-template(row);

            column-gap: 40px;
            margin-top: 40px;
            
            button {
                width: 292px;
                height: 73px;
                font-size: 24px;
            }
        } 

    }
}

.header-cards_wrapper {
    @include flex-template(row);

    justify-content: center;
    column-gap: 80px;
    margin-top: 70px;

    .header-card {
        @include flex-template(column);
        @include card-template(274px, 178px);

        .header-card_icon {
            @include icon-template(120px, $icon-bg-color);

            position: absolute;
            top: -40px;
        }

        h2 {
            @include text-template($primary-font-color, 20px);

            position: absolute;
            bottom: 28px
        }

    }
}

.section-info_wrapper {
    @include flex-template(row);

    background: $section-bg-color;
    justify-content: center;
    column-gap: 50px;
    margin-top: 40px;
    height: 155px;

    .section-info {
        @include flex-template(row);
        
        column-gap: 10px;

        .section-info_text {
            display: flex;
            flex-direction: column;
            row-gap: 2px;

            h1 {
                color: $heading-font-color
            }

            span {
                @include text-template($primary-font-color, 14px);
            }
        }
        .section-info_icon-1 {
            @include icon-template(80px, rgba(65, 113, 196, 1));
        }
        .section-info_icon-2 {
            @include icon-template(80px, rgba(108, 204, 62, 1));
        }
        .section-info_icon-3 {
            @include icon-template(80px, rgba(229, 51, 61, 1));
        }
        .section-info_icon-4 {
            @include icon-template(80px, rgba(133, 85, 193, 1));
        }

        img {
            height: 42px;
            width: 42px;
        }
    }
}

.about-us_wrapper {
    @include flex-template(row);


    margin-top: 100px;
    justify-content: center;
    column-gap: 100px;

    .about-us_icon {
        background: $icon-bg-color;
        height: 400px;
        width: 400px;
        border-radius: 8%;
    }

    .about-us_text {
        max-width: 630px;
        min-width: 400px;
        color: $primary-font-color;

        .about-us-mobile_icon {
            display: none;
            background: $icon-bg-color;
            height: 400px;
            width: 400px;
            border-radius: 8%;
        }
       
        h3 {
            margin-top: 5px;
            font-weight: 200;
        }

        p {
            font-size: 18px;
            margin-top: 17px;
            font-weight: 100;
        }

        button {
            width: 180px;
            height: 42px;
            font-size: 18px;
            margin-top: 15px;
        }

    }


}

.services_wrapper {
    @include flex-template(column);

    margin-top: 100px;
    
    .services_text {
        max-width: 800px;
        min-width: 400px;
        text-align: center;
        color: $primary-font-color;

        h3 {
            font-weight: 200;
        }
    }

    .services-cards_container {
        @include flex-template(row);

        justify-content: center;
        position: relative;
        align-items: center;
        margin-top: 300px;

        .services-bg-cards_wrapper {
            @include flex-template(row);
            
            z-index: -1;
            position: absolute;
            column-gap: 50px;

            .services-bg-card {
                width: 340px;
                height: 360px;
                background: $card-behind-bg-color;
                border-radius: 8%;
                transform: rotate(-5deg);
            }
        }

        .services-cards_wrapper {
            @include flex-template(row);
            
            position: absolute;
            justify-content: center;
            column-gap: 50px;
    
                .services-card {
                    @include flex-template(column);
                    @include card-template(340px, 360px);
                    
                    justify-content: center;
                    transform: rotate(5deg);
                    

                    .services-card_icon {
                        @include icon-template(160px, $icon-bg-color);
    
                        margin-right: 25px;
                        position: absolute;
                        top: -70px;
                    }
    
                    .services-card_text {
                        @include flex-template(column);
                        
                        transform: rotate(-5deg);
                        row-gap: 12px;
    
                        h2, p {
                            color: $primary-font-color;
                        }
    
                        p {
                            width: 300px;
                            font-size: 18px;
                            font-weight: 200;
                        }
                    }
    
                    a {
                        @include text-template($heading-font-color, 18px);
                        @include flex-template(row);

                        transform: rotate(-6deg);
                        position: absolute;
                        margin-left: 25px;
                        column-gap: 14px;
                        bottom: 60px;
    
                        &::after {
                            content: "";
                            background: url("../../src/img/arrow.png") 0 0 no-repeat;
                            width: 18px;
                            height: 14px;
                         }
                    }
                }
            }
    }
}   

.resource_wrapper {
    @include flex-template(row);

    height: 300px;
    margin-top: 350px;
    background: $section-bg-color;
    justify-content: center;
    column-gap: 70px;

    .resource_text {
        @include flex-template(column);

        max-width: 450px;
        min-width: 380px;
        row-gap: 10px;

        h1, p {
            color: $primary-font-color;
        }

        p {
            font-size: 18px;
            font-weight: 200;
        }
    }

    .resource-info {
        display: grid;
        grid: repeat(2, 1fr) / repeat(3, 170px);
        align-items: center;
        text-align: center;

        .resource-info_icon {
            @include icon-template(130px, $icon-bg-color);

            margin-left: 15px
        }

        h1 {
            color: $primary-font-color;
        }
    }
}

.contact_wrapper {
    @include flex-template(row);

    justify-content: center;
    column-gap: 250px;
    margin-top: 100px;

    .contact_info {
        @include flex-template(column);
        
        align-items: flex-start;
        max-width: 600px;
        min-width: 390px;
        row-gap: 40px;

        .contact-text {
            @include flex-template(column);

            row-gap: 10px;

            h1, h2 {
                color: $primary-font-color;
            }

            h2 {
                font-weight: 300;
            }
        }

        .contact-form {
            margin-left: 10px;

            input {
                width: 377px;
                height: 62px;
                background: $input-bg-color;
                color: $primary-font-color;
                margin-bottom: 15px;
                border: 0px;
                padding-left: 8px;
                font-size: 15px;
            }
            textarea {
                width: 377px;
                height: 197px;
                background: $input-bg-color;
                color: $primary-font-color;
                border: 0px;
                padding-left: 8px;
                padding-top: 6px;
                font-size: 15px;
            }

            button {
                width: 377px;
                height: 42px;
                margin-top: 30px;
            }
        }
    }

    .contact-icon {
        @include icon-template(300px, $icon-bg-color)
    }
}

footer {

    .footer_container {

        @include flex-template(column);

        background: $section-bg-color;
        margin-top: 150px;

       .footer-logo-title {
            @include text-template($heading-font-color, 38px);

            margin-top: 30px;
        }

       .footer-info_wrapper {

        margin: auto;

        .footer-info_grid {
            display: grid;
            grid: repeat(2, 50px) / 250px 250px 500px 400px;
            margin-top: 70px;
    
            h1, li, p, span, a {
                color: $primary-font-color;
            }
    
            ul {
                margin-top: 20px;
            }
    
            li, p {
                margin-top: 25px;
           }
    
           a:hover {
            transition: 200ms ease;
            color: $link-hover-color;
        }

        .footer-contact {
            @include flex-template(row);
            
            column-gap: 10px;
        }
            
    }
}

    .copyright {
        color: $primary-font-color;
        margin-top: 320px;
        margin-bottom: 30px;
        text-align: center;
    }
 }
}

//Adaptation
@media (max-width: 990px)  {
    .navbar_wrapper {
        @include flex-template(column);

       
        ul {
            margin-top: 20px;

            li {
                display: none;
            }
        }
     
    }

    .header-content_wrapper {
        @include flex-template(column);

        text-align: center;

        .header-content-mobile_buttons {
            display: flex;
            row-gap: 40px;
        }

        .header-content {
            .header-content_buttons {
                display: none;
            }
        }

        img {
            margin-top: 30px
        }
    }

    .header-cards_wrapper {
        @include flex-template(column);

        margin-top: 120px;
        row-gap: 50px;
    }

    .section-info_wrapper {
        @include flex-template(column);
        
        height: 530px;
        margin-top: 80px;
        row-gap: 50px;

        .section-info_icon-2 {
            margin-left: -22px
        }
    }

    .about-us_wrapper {
        @include flex-template(column);

        margin-top: 160px;

        .about-us_icon {
            display: none;
        }

        .about-us_text {
            @include flex-template(column);

            .about-us-mobile_icon {
                display: block;
                margin-top: 10px;
            }
            
            text-align: center;
            
            button {
                margin-top: 40px;
            }

            p {
                margin-top: 20px;
            }

        }
    }
    
    .services_wrapper {
        
        margin-top: 250px;

        .services-cards_container {

            margin-top: 48em;

            .services-cards_wrapper {
                @include flex-template(column);
                
                row-gap: 120px;
            }

            .services-bg-cards_wrapper {
                @include flex-template(column);

                row-gap: 120px;
            }

        }

    }

    .resource_wrapper {
        @include flex-template(column);

        margin-top: 50em;
        row-gap: 30px;
        height: 62em;
        text-align: center;
        position: relative;

        .resource-info {

            .resource-info_icons {
                @include flex-template(column);

                margin-top: 3em;
                row-gap: 85px;
            }

            .resource-info_titles {
                @include flex-template(column);

                position: absolute;
                row-gap: 155px;
                bottom: 14px;
                margin-right: 32px;
                margin-bottom: 20px;
            }
        }
    }

    .contact_wrapper {
        @include flex-template(column);

        text-align: center;
        position: relative;

        .contact_info {
            @include flex-template(column);

            .contact-form {
                margin-top: 22em;
            }
        }

        .contact-icon {
            position: absolute;
            bottom: 30em;
        }
    }

    footer {

        .footer_container {

            .footer-info_wrapper{
                text-align: center;

                .footer-info_grid {
                    grid: repeat(4, 150px) repeat(4, 300px) / 750px;
                }

            }
            
        }
    }
   
}