@import 'variables';
@import 'layouts';

* {
    font-family: $primary-font;
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}


button {
    @include text-template($primary-font-color, 15px);
    
    background: $button-bg-color;
    border: 0px;
    cursor: pointer;
}

button:hover {
    background: none;
    border-image: $button-bg-color 1;
    border-width: 2px;
    border-style: solid
}

body {
    background-color: $site-bg-color;
}

.navbar_wrapper {
    @include flex-template(row);

    justify-content: center;
    margin-top: 20px;
    column-gap: 130px;

    .logo-title {
        @include text-template($heading-font-color, 26px)
    }
}

.navbar {
    @include flex-template(row);
    
    column-gap: 35px;
    list-style-type: none;

    a {
        @include text-template($primary-font-color, 14px);
    }

    button {
        width: 177px;
        height: 39px;
        min-width: 143px;
        min-height: 35px;
    }
}

.header-content_wrapper {
    @include flex-template(row);

    justify-content: center;
    column-gap: 70px;
    margin-top: 40px;

    .header-content {
        @include flex-template(column);

        width: 428px;
        height: auto;
        min-width: 400px;
       
        .header-content_text {

            h1 {
                color: $primary-font-color;
            }

            p {
                color: $primary-font-color;
                font-weight: 100;
                margin-top: 10px
            }
          
        }

        .header-content_buttons {
            @include flex-template(row);

            column-gap: 20px;
            margin-top: 40px;
            
            button {
                width: 180px;
                height: 43px;
                font-size: 18px;
            }
        } 
    }

        img {
            width: 450px;
            height: 440px;
            min-height: 380px;
        }
}

.header-cards_wrapper {
    @include flex-template(row);

    justify-content: center;
    column-gap: 40px;
    margin-top: 40px;

    .header-card {
        @include flex-template(column);
        @include card-template(234px, 138px);

        div {
            @include icon-template(100px, $icon-bg-color);

            position: absolute;
            top: -40px;
        }

        span {
            @include text-template($primary-font-color, 20px);

            position: absolute;
            bottom: 8px
        }

    }
}

.section-info_wrapper {
    @include flex-template(row);

    background: $section-bg-color;
    justify-content: center;
    column-gap: 50px;
    margin-top: 40px;
    height: 105px;

    .section-info {
        @include flex-template(row);
        
        column-gap: 10px;

        .section-info_text {
            display: flex;
            flex-direction: column;
            row-gap: 2px;

            h2 {
                color: $heading-font-color
            }

            span {
                @include text-template($primary-font-color, 14px);
            }
        }
        .section-info_icon-1 {
            @include icon-template(60px, rgba(65, 113, 196, 1));
        }
        .section-info_icon-2 {
            @include icon-template(60px, rgba(108, 204, 62, 1));
        }
        .section-info_icon-3 {
            @include icon-template(60px, rgba(229, 51, 61, 1));
        }
        .section-info_icon-4 {
            @include icon-template(60px, rgba(133, 85, 193, 1));
        }

        img {
            height: 35px;
            width: 35px;
        }
    }
}

.about-us_wrapper {
    @include flex-template(row);


    margin-top: 100px;
    justify-content: center;
    column-gap: 100px;

    .about-us_icon {
        background: $icon-bg-color;
        height: 400px;
        width: 400px;
        border-radius: 8%;
    }

    .about-us_text {
        width: 530px;
        color: $primary-font-color;
       
        h3 {
            margin-top: 5px;
            font-weight: 200;
        }

        p {
            font-size: 15px;
            margin-top: 17px;
            font-weight: 100;
        }

        button {
            width: 180px;
            height: 42px;
            font-size: 18px;
            margin-top: 15px;
        }

    }


}

.services_wrapper {
    @include flex-template(column);

    margin-top: 100px;
    
    .services_text {
        width: 800px;
        text-align: center;
        color: $primary-font-color;

        h3 {
            font-weight: 200;
        }
    }

    .services-cards_container {
        @include flex-template(row);

        margin-top: 100px;
        justify-content: center;
        column-gap: 40px;

            .services-card {
                @include flex-template(column);
                @include card-template(380px, 400px);

                justify-content: center;

                .services-card_icon {
                    @include icon-template(180px, $icon-bg-color);

                    position: absolute;
                    top: -70px;
                }

                .services-card_text {
                    
                    h2, p {
                        color: $primary-font-color;
                    }

                    p {
                        font-weight: 200;
                    }

                }

                a {
                    @include text-template(18px, $heading-font-color);

                    position: absolute;
                    bottom: 40px;

                } &:after {
                    content: url("../img/arrow.png");
                    width: 25px;
                }
            }
        }
    }

    // .services-card_bg {
    //     background: $behind-card-bg-color;
    //     border-radius: 8%;
    //     width: 380px;
    //     height: 400px;
    //     z-index: -1;
    //     transform: rotate(45deg)
    // }

