//Bg-Colors
$site-bg-color: rgba(0, 21, 49, 1);
$button-bg-color: linear-gradient(90deg, #3B34A1 0%, #E1400F 100%);
$card-bg-color: rgba(16, 29, 79, 1);
$card-behind-bg-color: rgba(44, 43, 43, 0.44);
$icon-bg-color: rgba(247, 115, 7, 1);
$section-bg-color: rgba(59, 52, 160, 0.27);


//Font-Colors
$primary-font-color: rgba(255, 255, 255, 1);
$heading-font-color: rgba(223, 61, 15, 1);


//Fonts
$primary-font: "Poppins", sans-serif;
